a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
}
.container {
    overflow: hidden;
    margin: 0 auto;
}

.nav-hreader {
    height: 850px;
    background: url("../img/bj.png") top center no-repeat;
    background-size: cover;
}

.nav-wrapper {
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    margin-left: 73px;
    margin-top: 23px;
    float: left;
    text-indent: -9999px;
    width: 166px;
    height: 56px;
    background: url("../img/logo.png") top center no-repeat;
    background-size: 100%;
}

.nav {
    overflow: hidden;
    margin-top: 32px;
    float: right;
    margin-right: 150px;
}

.nav li {
    cursor: pointer;
    margin-right: 34px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    float: left;
    list-style: none;
}

.nav li a:link,
.nav li a:visited {
    color: rgba(255, 255, 255, 0.4);
}

.nav li a:hover {
    color: rgba(255, 255, 255, 1);
}
.main-container{
	position: relative;
}
.main-banner {
    max-width: 1190px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 86px;
    /* margin-left: 206px;
    margin-right: 223px; */
}



.introduce {
    margin-top: 61px;
    float: left;
}

.introduce h3 {
    margin: 0;
    font-size: 46px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.introduce ul {
    margin-top: 33px;
    font-size: 24px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    line-height: 46px;
    opacity: 0.8;
}

.phone-img {
    float: right;
    width: 520px;
    height: 612px;
}

.phone-img img {
    width: 100%;
}

.download {
    margin-top: 78px;
}

.download div {
    position: relative;
    cursor: pointer;
    width: 230px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 29px;
    font-size: 24px;
    font-weight: 400;
}

.qrcode {
    display: none;
    position: absolute;
    top: -200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 200px;
    height: 200px;
}
.download div:hover .qrcode{
    display: block;
}
.download .download-ios {
    margin-right: 14px;
    color: rgba(255, 255, 255, 1);
}

.download .download-android {
    background: rgba(255, 255, 255, 1);
    font-weight: 400;
    color: rgba(7, 8, 25, 1);
}

.main-content {
    width: 1190px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}

.section-one-wrapper {
    height: 760px;
}

.section-one {
    position: absolute;
    top: 252px;
    right: 92px;
    width: 867px;
    height: 508px;
    background: rgba(250, 250, 250, 1);
    -webkit-box-shadow: 0px 9px 44px 0px rgba(0, 0, 0, 0.22);
            box-shadow: 0px 9px 44px 0px rgba(0, 0, 0, 0.22);
    border-radius: 12px;
}

.section-one img {
    position: absolute;
}

.section-one .gaoxiao {
    top: -8px;
    left: -62px;
    width: 350px;
    height: 174px;
}

.section-one .xinwen {
    top: 55px;
    left: 293px;
    width: 266px;
    height: 488px;
}

.section-one .meishi {
    top: 63px;
    right: -92px;
    width: 357px;
    height: 174px;
}

.section-one .yule {
    bottom: 101px;
    left: 12px;
    width: 350px;
    height: 187px;
}

.section-one .shehui {
    right: 36px;
    bottom: 2px;
    width: 350px;
    height: 174px;
}

.title-text {
    font-size: 34px;
    font-weight: 400;
    color: rgba(41, 41, 41, 1);
}

.home-news {
    position: absolute;
    top: 219px;
    left: -210px;

}

.sub-desc-text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: rgba(102, 102, 102, 1);
}

.sub-desc {
    position: absolute;
    top: 253px;
    left: -210px;

}

.circle {
    position: absolute;
    top: 579px;
    left: 0;
    width: 180px;
    height: 266px;
    background: url("../img/circle.png") top right no-repeat;
    background-size: cover;
}

.radius-rect-r {
    position: absolute;
    top: 322px;
    right: 0;
    width: 480px;
    height: 1446px;
    background: url("../img/radius_rect.png") top right no-repeat;
    background-size: cover;
}

.section-two {
    position: relative;
    margin-top: 257px;
    height: 580px;
    overflow: hidden;
}

.section-two img {
    position: absolute;
    top: 0;
    left: 0;
    width: 886px;
    height: 580px;
}

.section-two-desc {
    position: absolute;
    top: 173px;
    right: 60px;
}

.section-three {
    position: relative;
    height: 1079px;
}

.section-three-wrapper {
    position: absolute;
    top: 136px;
    right: 293px;
    width: 600px;
    height: 858px;
}

.section-three img {
    position: absolute;
    height: 102px;
}

.section-three .task-pic {
    top: 0;
    right: 0;
    width: 600px;
    height: 858px;
}

.section-three-wrapper .countdown {
    width: 287px;
    right: -176px;
    top: 140px;
}

.section-three-wrapper .video {
    width: 287px;
    left: -126px;
    top: 352px;
}

.section-three-wrapper .sign {
    width: 220px;
    top: 370px;
    right: -171px;
}

.section-three-wrapper .novel {
    width: 287px;
    left: -264px;
    bottom: 249px;
}

.section-three-wrapper .read {
    width: 287px;
    left: 161px;
    bottom: 222px;
}

.section-three-wrapper .news {
    width: 287px;
    bottom: 180px;
    right: -293px;
}


.section-three-wrapper .hot-word {
    width: 276px;
    left: -189px;
    bottom: 101px;
}

.section-three-wrapper .red-pack {
    width: 249px;
    right: 40px;
    bottom: 114px;
}
.circle-radius{
    position: absolute;
    top: 255px;
    left: 298px;
    width:24px;
    height:24px;
    border-radius: 50%;
    background:rgba(248,100,66,1);
}
.radius-rect-l {
    position: absolute;
    left: 0;
    top: 2332px;
    width: 239px;
    height: 1444px;

    background: url("../img/radius_rect.png") top left no-repeat;
    background-size: cover;

    transform: rotateY(-180deg);
}

.section-three-desc {
    position: absolute;
    top: 167px;
    left: -230px;
}

.section-four {
    top: 260px;
    left: 347px;
    position: relative;
    width: 575px;
    height: 811px;
}

.main-pic {
    width: 575px;
    height: 811px;
}

.four-desc {
    position: absolute;
    font-size: 28px;
    font-weight: 400;
    color: rgba(41, 41, 41, 1);

    text-align: center;
    width: 600px;
    height: 115px;
    line-height: 115px;
    background: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 12px 22px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 12px 22px 0px rgba(0, 0, 0, 0.12);
    border-radius: 9px;

}

.desc-one {
    top: -16px;
    left: -157px;
    width: 572px;
}

.desc-two {
    left: -347px;
    top: 421px;
}

.desc-three {
    right: -291px;
    bottom: 143px;
}

.section-four-desc {
    position: absolute;
    top: 196px;
    right: -190px;
}

.com-info {
    width: 1190px;
    margin: 0 auto;
    text-align: center;
    margin-top: 504px;

    font-size: 24px;
    font-weight: 400;
    color: rgba(41, 41, 41, 1);
    line-height: 48px;
}

.qq-num {
    margin: 0 100px;
}
.qq-num a{
    color: rgba(41, 41, 41, 1);
}

.copy-right {
    text-align: center;
    margin-top: 40px;

    height: 60px;
    line-height: 60px;
    background: rgba(61, 62, 64, 1);

    font-size: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.com-info .email {
    color: rgba(41, 41, 41, 1);
}


@media screen and (max-width: 1367px) {  
    .main-banner {

    }
    .section-one{
    }
}